/* GLOBAL */
html {
    box-sizing: border-box;
    font-size: 62.5%;    
}
*, *:before, *:after {
    box-sizing: inherit;
}

a {
    font-size: 2em;
    text-decoration: none;
}

p {
    margin: 0;
}

input,
textarea {
    width: 100%;
}

/* 

    font-family: 'Open Sans', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;

*/

/* Responsive aproach must be mobile first */

/* Utilities */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.brackground-main {
    background: linear-gradient(130deg, #22b799, #24639b);
}

.position-left {
    justify-content: left;
}

.position-right {
    justify-content: right;
}

.title-text {
    color: #30384b;
}

.bold-text {
    color: #30384b;
    font-weight: bold;
}

.description-odd {
    font-size: 2.2em;
    width: 15em;
    margin-left: 1em;
    margin-bottom: 15em;
}
.description-even {
    text-align: right;
    font-size: 2.2em;
    width: 15em;
    margin-top: 3em;
    margin-bottom: 15em;
    margin-right: 1em;
    margin-left: 1em;
}

.img-odd {
    position: absolute;
    width: 50% !important;
    max-width: 60%;
    min-width: 25%;
    right: 0;
    bottom: 0;
}

.img-even {
    position: absolute;
    width: 50%;
    max-width: 60%;
    min-width: 25%;
    left: 0;
    bottom: 0;
}

.btn-gradient {
    background: linear-gradient(to bottom, #22b799, #24639b);
    height: 1.6em;
    width: 6em;
    margin-top: 3em;
    border-radius: 10px;
    color: #ffffff;
}

.btn-white {
    background-color: #ffffff;
    height: 1.6em;
    width: 6em;
    margin-top: 3em;
    border-radius: 10px;
    color: #30384b;
}

/* NAVIGATION Top-Bottom */

.navigation {
    display: flex;
    justify-content: right;
    height: 8em;
    align-items: center;
}

/* Navigation Top */
.site-header {
    position: relative;
    z-index: 10;
    display: none;
}

.site-header nav.navigation {
    position: absolute;
    right: 0;
}

.site-header nav a {
    margin-left: 3em;
}

/* Navigation Bottom */
.site-footer {
    margin-top: -8em;
}

.site-footer img {
    width: 15%;
}

.site-footer div {
    text-align: center;
}

.site-footer nav a {
    margin: 0 0.5em;
}


/* Sections */
.hero,
.about,
.web-dev,
.projects {
    display: flex;
    align-items: center;
    min-height: 85vh;
    position: relative;
}

.contact {
    font-size: 2.2em;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
    padding: 1em;
    margin: 1em 1em 6em 1em
}

.form-label {
    margin-bottom: 1em;
}

.description {
    width: 13em;
    margin: 2.5em 1em;
}