html {
    box-sizing: border-box;
    font-size: 62.5%;    
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* 


    font-family: 'Open Sans', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;


*/

/* Globals */
a,
.bar p {
    text-decoration: none;
    color: #f6f6f6;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

/* Utilities */
.no-margin {
    margin: 0;
}

@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    
    .col-6 {
        flex: 0 0 calc(50%);
    }
    
    .col4 {
        flex: 0 0 calc(33.3%)
    }
}

.bg-color-dark {
    background-color: #373737;
}

.text-center {
    text-align: center;
}

/* Botones */
.btn {
    color: #f6f6f6;
    background-color: #373737;
    border: none;
    margin-top: 1rem;
    padding: .8rem 1rem;
    font-size: 1.2rem;
}

.btn:hover {
    cursor: pointer;
    color: #373737;
    background-color: #f6f6f6;
    border: 1px solid #373737;
}

/* Header */


/* Barra */
.bar {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.bar a {
    padding: .5rem 0;
    display: inline-block;
}

.bar > a {
    font-weight: 700;
}

@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
    }
}

/* Navigation */
.navigation a {
    margin-right: 1rem;
}

.navigation a:last-of-type {
    margin: 0;
}


/* Main Content */
.image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    background-image: url('../img/main-main.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 35rem;
    margin: 2rem;
}

@media (min-width: 768px) {
    .image {
        background-size: 60%;
        text-align: left;
        height: 45rem;
        font-size: 2rem;
    }
    .image h1 {
        font-weight: 400;
        margin-bottom: 4rem;
    }
}

/* SKILLS */
/* Portfolio */
.skills img {
    height: 15rem;
}

.img-container {
    padding: 3rem 0;
}

@media (min-width: 768px) {
    .skills img {
        height: 35rem;
    }
}

.about {
    flex-direction: row-reverse
}

@media (min-width: 768px) {
    .portfolio .img-container {
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }
    
    .about .img-container {
        border-top-left-radius: 5rem;
        border-bottom-left-radius:  5rem;
    }
    
    .contact .img-container {
        border-top-right-radius: 5rem;
    }
}

.description {
    padding: 5rem 0;    
}

.description p {
    font-size: 1.5rem;
    width: 65%;
    margin: .5rem auto 0 auto;
    line-height: 1.5;
}

/* Footer */
