{% extends 'static_pages/base/base.html' %}

{% block title %} | About{% endblock title %}

{% block content %}
<div class="section-container">
    <div class="container main-text about-info">
        <p>
        There is nothing I love more than creating new things through code. Creating software and knowing that will help people in their daily life it's satisfying and makes me keep growing in my profession.
        </p>
        <p>
        I'm a software industry enthusiastic, I love learning new technologies and use them professionally.
        </p>
        <p>
        The software I have worked in recent years has been developed with some of these stacks:
        </p>
        <ul>
            <li>PHP (OOP) + MySQL</li>
            <li>HTML/CSS + Javascript</li>
            <li>Python (Django) + PostgreSQL</li>
        </ul>
    </div>
    <div class="container timeline">
        <h2>Education</h2>
        <ul>
            <li>
                <div>
                    <h2>2013 - 2019</h2>
                    <p class="bold-text">Higher Technological Institute of Xalapa</p>
                    <p clasS="text-600">Computer Systems Engineer</p>
                    <p>Completed graduation. Specialization in Software Engineering</p>
                </div>
            </li>
            <li>
                <div>
                    <h2>2013 - 2015</h2>
                    <p class="bold-text">Centro de Lenguas Extranjeras</p>
                    <p class="bold-text">Instituto Tecnológico Superior de Xalapa</p>
                    <p class="text-600">English course</p>
                    <p>Completed a five levels English course.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="container timeline">
        <h2>Work Experience</h2>
        <ul>
            <li>
                <div>
                    <h2 class="bold-text">July 2018 - January 2019</h2>
                    <p class="bold-text">Xalapa University</p>
                    <p class="text-600">Backend development</p>
                </div>
            </li>
            <li>
                <div>
                    <h2 class="bold-text">May 2019 - November 2019</h2>
                    <p class="bold-text">SOLIX México</p>
                    <p class="text-600">Backend - Frontend development</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock content %}