.container {
    max-width: 1000px;
    margin: 0 1em;
}

.container-post {
    max-width: 700px;
    margin: 0 2em;
}

.post-preview {
    margin-bottom: 1.5em;
    border-bottom: 1px solid #969696;
}

.not-active{
    pointer-events: none;
    color: #969696;
}