{% extends 'base/base.html' %}

{% block content %}
<div class="container posts">
    <div>
    {% for post in blog_content %}
        <div class="post-preview">
            <a href="{% url 'post_view' post.id %}">
                <h2>{{ post.title }}</h2>
            </a>
            <p>{{ post.date_created }}</p>
        </div>
    {% endfor %}
    </div>
    <div class="pagination">
        <a href="
            {% if blog_content.has_previous %}
                {% url 'blog_pages' 1 %}">
            {% else %}
                {% url 'blog_pages' 1 %}" class="not-active">
            {% endif %}
        &laquo; first</a>
        <a href="
            {% if blog_content.has_previous %}
                {% url 'blog_pages' blog_content.previous_page_number %}">
            {% else %}
                {% url 'blog_pages' 1 %}" class="not-active">
            {% endif %}
        prev</a>
        <span>{{ blog_content.number }}</span>
        <a href="
            {% if blog_content.has_next %}
                {% url 'blog_pages' blog_content.next_page_number %}">
            {% else %}
                {% url 'blog_pages' blog_content.paginator.num_pages %}" class="not-active">
            {% endif %}
        next</a>
        <a href="
            {% if blog_content.has_next %}
                {% url 'blog_pages' blog_content.paginator.num_pages %}">
            {% else %}
                {% url 'blog_pages' blog_content.paginator.num_pages %}" class="not-active">
            {% endif %}
        last &raquo;</a>

        {% if blog_content.has_next %}
        {% endif %}
    </div>
</div>
{% endblock content %}