body {
    @apply bg-usr-blue text-white;
}

.router-link-exact-active {
    @apply relative text-white;
}

.router-link-exact-active:before {
    content: '>';
    position: absolute;
    top: -0.2rem;
    transform: translateX(-15px);
}

.page-enter-active,
.page-leave-active {
    transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.side-menu-enter-active,
.side-menu-leave-active {
    transition: opacity 0.3s ease;
}

.side-menu-enter-from,
.side-menu-leave-to {
    opacity: 0;
}

.side-width-enter-active,
.side-width-leave-active {
    transition: width 0.3s ease;
}

.side-width-enter-from,
.side-width-leave-to {
    width: 0;
}

.side-width-enter-to,
.side-width-leave-from {
    @apply w-64;
}
