@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;700;800&family=Source+Code+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
    @apply bg-usr-blue text-white;
}

.nuxt-link-exact-active {
    @apply relative text-white;
}

.nuxt-link-exact-active:before {
    content: '>';
    position: absolute;
    top: -0.2rem;
    transform: translateX(-15px);
}

.side-menu-enter-active,
.side-menu-leave-active {
    transition: opacity 0.3s ease;
}

.side-menu-enter,
.side-menu-leave-to {
    opacity: 0;
}

.side-width-enter-active,
.side-width-leave-active {
    transition: width 0.3s ease;
}

.side-width-enter,
.side-width-leave-to {
    width: 0;
}

.side-width-enter-to,
.side-width-leave {
    @apply w-64;
}
