/* GLOBAL */
html {
    box-sizing: border-box;
    font-size: 62.5%;    
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Baloo Bhaina 2', cursive;
}

h3 {
    margin: 0.7em 0;
}

a {
    font-size: 2em;
    text-decoration: none;
}

p {
    margin: 0;
}

input,
textarea {
    width: 100%;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #cacaca;
    line-height: 1.5;
}
input::placeholder {
    line-height: 2.5;
}

button {
    border: none;
    cursor: pointer;
}
input[type=checkbox] {
    display: none;
}



/* 
    font-family: 'Baloo Bhaina 2', cursive;

    font-family: 'Ubuntu', sans-serif;
*/

/* Responsive aproach must be mobile first */


/* General classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.brackground-main {
    background: linear-gradient(130deg, #22b799, #24639b);
}
.position-left {
    justify-content: left;
}
.position-right {
    justify-content: flex-end;
}
.mt-3em {
    margin-top: 3em;
}
div.mt-4em,
.mt-4em {
    margin-top: 4em;
}
.mb-5em {
    margin-bottom: 5em;
}
.m-auto {
    margin: auto;
}
.main-text {
    color: #30384b;
}
.bold-text {
    color: #30384b;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;;
}
.text-600 {
    font-weight: 600;
}
.description-odd {
    font-size: 2.2em;
    width: 15em;
    margin-left: 1em;
    margin-bottom: 10em;
    margin-top: 6em;
}
.description-even {
    text-align: right;
    font-size: 2.2em;
    width: 15em;
    margin-top: 4em;
    margin-bottom: 10em;
    margin-right: 1em;
    margin-left: 1em;
}
.img-odd {
    position: absolute;
    width: 52%;
    max-width: 60%;
    min-width: 25%;
    max-height: 100%;
    right: 0;
    bottom: 0;
}
.img-even {
    position: absolute;
    width: 50%;
    max-width: 60%;
    min-width: 25%;
    max-height: 100%;
    left: 0;
    bottom: 0;
}
.btn-gradient {
    display: inline-block;
    background: linear-gradient(to bottom, #22b799, #24639b);
    height: 1.6em;
    width: 6em;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding-top: 0.3em;
}
.btn-white {
    display: inline-block;
    background-color: #ffffff;
    height: 1.6em;
    width: 6em;
    border-radius: 10px;
    color: #30384b;
    font-size: 1em;
    margin-top: 3em;
    text-align: center;
    padding-top: 0.3em;
}

/* NAVIGATION Top-Bottom */
.navigation {
    display: flex;
    justify-content: right;
    height: 8em;
    align-items: center;
}

/* Navigation Top */
.site-header {
    position: relative;
    z-index: 10;
    display: flex;
}
.site-header .logo img {
    width: 100px;
    height: 110px;
    position: absolute;
    left: 2em;
}
.site-header nav.navigation {
    position: absolute;
    right: 0;
}
.site-header nav a {
    display: none;
    color: #30384b;
    font-weight: bold;
    margin-top: 3em;
    text-decoration: underline;
}
.site-header label svg {
    position: absolute;
    right: 4em;
    top: 3em;
}
.site-header label > div::after {
    visibility: hidden;
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
.site-header nav.navigation {
    visibility: hidden;
    width: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
    z-index: 20;
    transition: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
#menu-btn:checked ~ label div::after {
    opacity: 0.5;
    visibility: visible;
    position: fixed;
}
#menu-btn:checked ~ nav.navigation {
    width: 70vw;
    visibility: visible;
    position: fixed;
}
#menu-btn:checked ~ nav.navigation a {
    display: inline;
}

/* Navigation Bottom */
.site-footer {
    margin-top: -8em;
    color: #ffffff;
}
.site-footer .navigation {
    justify-content: center;
}
.site-footer img {
    width: 15%;
}
.site-footer div {
    text-align: center;
}
.site-footer nav a {
    margin: 0 0.5em;
}


/* Sections */
.hero,
.about,
.web-dev,
.projects {
    display: flex;
    align-items: center;
    min-height: 85vh;
    position: relative;
}
.contact {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact .description {
    font-size: 2.2em;
    width: 13em;
    margin: 2.5em 1em;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
    padding: 1em 1em 0 1em;
    margin: 1em 1em 6em 1em;
    font-size: 1.6em;
}
.form-row {
    display: flex;
    flex-direction: column;
    margin: 0 0 1em 0;
}
.form-label {
    margin-bottom: 1em;
}


/* Section container for Portfolio/About */
.section-container {
    min-height: calc(100vh);
    padding: 12em 0;
    background: linear-gradient(to bottom, #22b799, #24639b);
}

/* PORTFOLIO */
.project:first-child {
    padding-top: 0;
}
.project {
    display: flex;
    padding: 3em 2em;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.7em;
    position: relative;
    border-bottom: 1px solid;
}
.project p {
    margin-bottom: 1em;
    font-size: 1.2em;
}
.project a.btn-white {
    margin: 0 0 1em 0;
}
.project .img-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.project .project-img {
    position: absolute;
    top: 0.35em;
    height: 88%;
    width: 73%;
    border-radius: 10px;
}
.project .project-frame {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
}
.section-container .project:last-child {
    border: none;
}

/* ABOUT */
.about-info {
    font-size: 2em;
}
.about-info p {
    margin: 0 2em 2em 2em;
}
.about-info ul {
    margin-left: 1em;
}
.timeline {
    display: flex;
    flex-direction: column;
    color: #30384b;
    margin-bottom: 4em;
    padding-top: 3em;
    border-bottom: 1px solid;
}
.timeline:last-child {
    border: none;
}
.timeline > h2 {
    margin: 0 0 0 2em;
    font-size: 2.5em;
    width: 30%;
}
.timeline ul {
    list-style: none;
    margin-top: 0;
    padding-right: 2em;
}
.timeline ul li {
    position: relative;
}
.timeline ul li::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
}
.timeline ul li::after {
    content: '';
    background-color: #fff;
    width: 1px;
    position: absolute;
    height: 85%;
    top: 1em;
    left: 0.7em;
}
.timeline ul div {
    padding-left: 3em;
    min-height: 13em;
}
.timeline ul h2 {
    font-size: 1.7em;
    margin-bottom: 0;
}
.timeline ul p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}